
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <p>Name: <%= Puppy.new.name %></p>
    <p>Breed: <%= Puppy.new.breed %></p>
    <p>Age: <%= Puppy.new.age %></p>
  </body>
</html>
